gene_type=int_perm
population_size=50
individual_size=64
lower_bound=1
upper_bound=5
crossover_chance=80
mutation_chance=1
number_of_iterations=10000
selection_method=tournament
tournament_size=2
crossover_method=pmx_crossover
fitness_method=n_queens
mutation_method=swap_position
elitism=true
linear_scaling=false
generation_gap=true
sharing=false
crowding=false
crowding_factor=5
