gene_type=float
population_size=50
individual_size=50
lower_bound=-50
upper_bound=50
crossover_chance=80
mutation_chance=5
number_of_iterations=100
selection_method=tournament
tournament_size=3
crossover_method=uniform_crossover
fitness_method=float_quadratic_min
mutation_method=delta_mutation
elitism=true
