gene_type=int
population_size=50
individual_size=100
lower_bound=1
upper_bound=5
crossover_chance=80
mutation_chance=4
number_of_iterations=10000
selection_method=tournament
tournament_size=4
crossover_method=uniform_crossover
fitness_method=labirinth_minimum_path
mutation_method=swap_position
elitism=true
linear_scaling=true
generation_gap=true
